.content-container {
  overflow: hidden;
}

.navbar-container {
  padding: 0;
}

.separator {
  height: 20px;
}

mat-card {
  margin: 0;
  padding: 0;

}

mat-card > mat-card-content {
  padding-left: 18px;
}

mat-card > mat-card-content > .fa {
  position: absolute;
  top: 16px;
  left: 16px;
  color: #6C757D;
}

breadcrumb /deep/ ul.breadcrumb {
  background-color: inherit;
}

breadcrumb /deep/ ul.breadcrumb > li {
  cursor: pointer;
}
