.content-container {
  overflow: hidden;
}

.navbar-container {
  padding: 0;
}

.separator {
  height: 20px;
}

mat-card {
  margin: 0;
  padding: 0;

}

breadcrumb /deep/ ul.breadcrumb {
  background-color: inherit;
}

breadcrumb /deep/ ul.breadcrumb > li {
  cursor: pointer;
}
